<% if logged_in? %>
<div>
  <section class="micropost_form">
    <%= render 'layouts/micropost_form' %>
  </section>
<ul class="nav nav-tabs" role="tablist">
  <li class="active" role="presentation">
    <a class="nav-link" aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">新着</a>
  </li>
  <li role="presentation">
    <a class="nav-link" aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">フォロー</a>
  </li>
  <li role="presentation">
    <a class="nav-link" aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">いいね</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab_a" role="tabpanel">
    <p>
      <%= render 'microposts/index' %>
    </p>
  </div>
  <div class="tab-pane" id="tab_b" role="tabpanel">
    <p>
      <%= render 'products/follow_user_microposts' %>
    </p>
  </div>
  <div class="tab-pane" id="tab_c" role="tabpanel">
    <p>
      <%= render 'microposts/liked_microposts' %>
    </p>
  </div>
</div>
</div>
<% else %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>Musclove</h1>
    <p>筋トレがもっと楽しくなる</p>
    <p>マッスラブは、君が輝けるステージを提供します</p>
    <br>
    <p>流した汗は裏切らない</p>
    <%= link_to "はじめる", '/signup', class: "btn btn-info btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="container discription-container">
    <div class="row">
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'muscle-yellow3.png', class: 'discription-img' %>
        </div>
        <h2>トレーニング時間を入力</h2>
        <p>トレーニングに費やした時間を入力することで成果を可視化することが可能です。</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'camera.png', class: 'discription-img' %>
        </div>
        <h2>学習時間も娯楽時間も</h2>
        <p>筋トレは単に自己研磨のためだけのものではありません。誰かにシェアすることで有意義と感じる心理的効果が期待できます。</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'memo.png', class: 'discription-img' %>
        </div>
        <h2>日記としても役立つ</h2>
        <p>ログ機能により、どんなメニューをこなしたか、どれくらい成長したのかを記録することも可能です。筋トレとの人生を豊かにする日記となるでしょう。</p>
      </div>
    </div>
  </div>
</div>
<% end %>
