<% if logged_in? %>
<div>
  <section class="micropost_form">
    <%= render 'layouts/micropost_form' %>
  </section>
<ul class="nav nav-tabs" role="tablist">
  <li class="active" role="presentation">
    <a class="nav-link" aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">新着</a>
  </li>
  <li role="presentation">
    <a class="nav-link" aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">フォロー</a>
  </li>
  <li role="presentation">
    <a class="nav-link" aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">いいね</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab_a" role="tabpanel">
    <p>
      <%= render 'microposts/index' %>
    </p>
  </div>
  <div class="tab-pane" id="tab_b" role="tabpanel">
    <p>
      <%= render 'microposts/follow_user_microposts' %>
    </p>
  </div>
  <div class="tab-pane" id="tab_c" role="tabpanel">
    <p>
      <%= render 'microposts/liked_microposts' %>
    </p>
  </div>
</div>
</div>
<% else %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>Musclove</h1>
    <p>筋トレがもっと楽しくなる</p>
    <p>MuscLoveは、あなたの筋トレをサポートします</p>
    <br>
    <%= link_to "はじめる", '/signup', class: "btn btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="container discription-container">
    <div class="row">
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'real_dumbbell.png', class: 'discription-img img-camera' %>
        </div>
        <h2>成果を記録</h2>
        <p>トレーニングメニューや練習の成果を記入</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'real_camera.png', class: 'discription-img' %>
        </div>
        <h2>誰かとシェア</h2>
        <p>筋トレは一人だとサボってしまいがち。誰かにシェアすることでモチベーションにつながります</p>
      </div>
      <div class="col-md-4">
        <div class="discription-img-container">
          <%= image_tag 'chat.png', class: 'discription-img img-chat' %>
        </div>
        <h2>日記としても役立つ</h2>
        <p>どんなメニューをこなしたか、成長記録をつけることができます。</p>
      </div>
    </div>
  </div>
</div>
<% end %>
