<% provide(:title, @user.name) %>
<div class="container show-container">
  <div class="row">
    <section class="user_info">
     <% if current_user?(@user) %>
      <div class=""><%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-info" %></div>
     <% end %>
     <% if current_user.admin? && !current_user?(@user) %>
     | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
     <% end %>
      <h1>
        <%= @user.name %>
      </h1>
       <% if @user.picture.attached? %>
       <p class="trim-image-to-circle">
         <%= image_tag @user.resize_picture %>
       </p>
       <% end %>
      <p>プロフィール : <%= @user.profile %></p>
    </section>
  </div>
  <div class="row">
    <div class="col-logs">
      <%= render 'layouts/log' %>
    </div>
  </div>
</div>
