<% provide(:title, @user.name) %>
<div class="container show-container">
  <div class="row user-info-container">
    <section class="user-info">
       <div class="user-name user-info-top">
     <% if current_user?(@user) %>
      <div class=""><%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-lg" %></div>
     <% end %>
     <% if current_user %>
       <% if current_user.admin? && !current_user?(@user) %>
         | <%= link_to "delete", @user, method: :delete,
                                data: { confirm: "本当に削除しますか？" } %>
       <% else %>
       <% end %>
     <% end %>
     <div class="user-name">
       <h1>
         <%= @user.name %>
       </h1>
     </div>
       <div class="userinfo-picture-follow">
       <% if @user.picture.attached? %>
       <p class="trim-image-to-circle">
         <%= image_tag @user.resize_picture %>
       </p>
       <% end %>
       <div class="follow_button">
         <%= render 'relationships/follow_button', user: @user %>
       </div>
        </div>
       </div>
       <% if @user.profile? %>
       <p class="profile-info"><i class="fas fa-user-alt"></i>プロフィール<br></p>
       <div class="user-profile">
          <%= simple_format@user.profile %>
      <% else %>
      <p>まだ自己紹介を書いていません</p>
      </div>
      <% end %>
    </section>
    <section class="stats">
     <%= render 'shared/stats' %>
    </section>
  </div>
</div>
<div class="row-micropost">
  <div class="col-logs">
    <%= render 'layouts/log' %>
  </div>
</div>
