<h1 class="micropost-title log-title">フォロー</h1>
 <% if @follower_microposts.any? %>
 <div class="container">
   <ol class="microposts">
   <% @follower_microposts.each do |follower_micropost| %>
       <li id ="micropost-<%= follower_micropost.id %>">
         <span class="row log-list">
           <span class="col-2 log-user-name">
             <span class="log-user-name"><%= link_to(follower_micropost.user.name,"/users/#{follower_micropost.user_id}") %></span>
           </span>
           <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
             <span class="log-timestamp"><%= time_ago_in_words(follower_micropost.created_at) %>前</span>
           </span>
           <span>
             <span><p><a href="/microposts/<%= follower_micropost.id %>" class="detail">詳細を見る</a></p></span>
           </span>
           <span class="col-md-10 col-log-memos">
             <div class="log-time-and-edit">
               <div class="row">
                 <span class="col-7 log-timestamp log-timestamp-inline"><%= time_ago_in_words(follower_micropost.created_at) %>前</span>
               </div>
             </div>
             <div class="memo">
               <p><%= simple_format(follower_micropost.memo) %></p>
             </div>
             <% if follower_micropost.picture.attached? %>
               <div class="log-picture"><%= image_tag follower_micropost.resize_picture %></div>
             <% end %>
           </span>
           <p>
             <%= image_tag('good_orange.png', class: "microposts-good-image", :size =>'48x48') %>(<%= follower_micropost.liked_users.count %>)
           </p>
         </span>
       </li>
   <% end %>
   </ol>
 </div>
  <%= paginate @follower_microposts %>
  <% else %>
    <span>投稿がありません</span>
  <% end %>
