<h1 class="log-title col-2">新着</h1>
  <div class="container">
    <ol class="microposts">
    <% @allmicroposts.each do |allmicropost| %>
        <li id ="micropost-<%= allmicropost.id %>">
          <span class="row log-list">
            <span class="col-2 log-user-name">
              <span class="log-user-name"><%= link_to(allmicropost.user.name,"/users/#{allmicropost.user_id}") %></span>
            </span>
            <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
              <span class="log-timestamp"><%= time_ago_in_words(allmicropost.created_at) %>前</span>
            </span>
            <span class="col-md-10 col-log-memos">
              <div class="log-time-and-edit">
                <div class="row">
                  <span class="col-7 log-timestamp log-timestamp-inline"><%= time_ago_in_words(allmicropost.created_at) %>前</span>
                  <span class="log-edit col-2"><%= link_to image_tag('edit.png', class: "log-edit-image"), edit_micropost_path(allmicropost) %></span>
                </div>
              </div>
              <% if allmicropost.memo.present? %>
                <div class="log-memo"><%= allmicropost.memo %></div>
              <% end %>
              <% if allmicropost.picture.attached? %>
                <div class="log-picture"><%= image_tag allmicropost.resize_picture %></div>
              <% end %>
            </span>
          </span>
        </li>
    <% end %>
    </ol>
  </div>
  <%= paginate @allmicroposts %>
