<h1 class="micropost-title log-title">新着</h1>
  <% if @microposts_all.any? %>
  <div class="container">
    <ol class="microposts">
    <% @microposts_all.each do |micropost_all| %>
        <li id ="micropost-<%= micropost_all.id %>">
          <span class="row log-list">
            <span class="col-2 log-user-name">
              <span class="log-user-name"><%= link_to(micropost_all.user.name,"/users/#{micropost_all.user_id}") %></span>
            </span>
            <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
              <span class="log-timestamp"><%= time_ago_in_words(micropost_all.created_at) %>前</span>
            </span>
            <span>
              <span><p><a href="/microposts/<%= micropost_all.id %>" class="detail">詳細を見る</a></p></span>
            </span>
            <span class="col-md-10 col-log-memos">
              <div class="log-time-and-edit">
                <div class="row">
                  <span class="col-7 log-timestamp log-timestamp-inline"><%= time_ago_in_words(micropost_all.created_at) %>前</span>
                </div>
              </div>
              <div class="memo">
                <p><%= simple_format(micropost_all.memo) %></p>
              </div>
              <% if micropost_all.picture.attached? %>
                <div class="log-picture"><%= image_tag micropost_all.resize_picture %></div>
              <% end %>
            </span>
            <p>
              <%= image_tag('good_orange.png', class: "microposts-good-image", :size =>'48x48') %>(<%= micropost_all.liked_users.count %>)
            </p>
          </span>
        </li>
    <% end %>
    </ol>
  </div>
  <%= paginate @microposts_all %>
  <% else %>
    <span>まだ投稿がありません</span>
  <% end %>
