<h1 class="log-title col-2">新着</h1>
  <% if @microposts_all.any? %>
  <div class="container">
    <ol class="microposts">
    <% @microposts_all.each do |micropost_all| %>
        <li id ="micropost-<%= micropost_all.id %>">
          <span class="row log-list">
            <span class="col-2 log-user-name">
              <span class="log-user-name"><%= link_to(micropost_all.user.name,"/users/#{micropost_all.user_id}") %></span>
            </span>
            <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
              <span class="log-timestamp"><%= time_ago_in_words(micropost_all.created_at) %>前</span>
            </span>
            <span class="col-md-10 col-log-memos">
              <div class="log-time-and-edit">
                <div class="row">
                  <span class="col-7 log-timestamp log-timestamp-inline"><%= time_ago_in_words(micropost_all.created_at) %>前</span>
                  <span class="log-edit col-2"><%= link_to image_tag('edit.png', class: "log-edit-image"), edit_micropost_path(micropost_all) %></span>
                </div>
              </div>
              <% if micropost_all.picture.attached? %>
                <div class="log-picture"><%= image_tag micropost_all.resize_picture %></div>
              <% end %>
              <p><a href="/microposts/<%= micropost_all.id %>"><%= micropost_all.memo %></a></p>
            </span>
            <p>
              <%= link_to image_tag('good.png', class: "microposts-good-image") %>(<%= micropost_all.liked_users.count %>)
            </p>
          </span>
        </li>
    <% end %>
    </ol>
  </div>
  <%= paginate @microposts_all %>
  <% else %>
    <span>まだ投稿がありません</span>
  <% end %>
